img { 
    width: 20px;
    cursor: pointer;
    padding-left: 60px;
}

.NewTaskContainer {
    margin: 24px 6px;
}

.inputask {
    margin-top: 8px;
    height: 32px;
    width: 200px;
    border: 1px solid #0000005a;
    border-radius: 6px;
}

.inputask::placeholder {
    padding-left: 8px;
    color: rgba(0, 0, 0, 0.507);
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

.addtask {
    margin-left: 16px; 
    height: 36px;
    padding: 0 23px; 
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: rgb(24, 43, 121);
    color:aliceblue;
    border: none;
    border-radius: 6px;
}

.task-item {
    margin-bottom: 4px;
}

#labeladd {
    font-size: 16px;
    font-weight: bold;
}